{% extends 'OmerTeamBundle:team:layout_registration.html.twig' %}

{% trans_default_domain 'OmerUserBundle' %}

{% block registration %}
    <div class="container team-registration wow fadeInDown" data-wow-delay="0.5s">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form, { 'action':path('officialuser_new'), 'method':'POST'}, {'attr':{'class':'form-group'}}) }}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="registration-lead">{{ 'label.director_user.registration'|trans() }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">

                        {{ form_row(form.role, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.firstName, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.surname, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.gender, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.T_shirtSize, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.association, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.citizenship, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.dateOfBirth, {'attr':{'class':'datepicker'}}) }}
                        {{ form_row(form.passportNumber, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.dateOfIssue, {'attr':{'class':'datepicker'}}) }}
                        {{ form_row(form.dateOfExpiry, {'attr':{'class':'datepicker'}}) }}
                        {{ form_row(form.address, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.mobilePhone, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.dietaryConcerns, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.medicalConcerns, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        {{ (form_row(form.travelAttributes[0])) }}
                    </div>

                    <div class="col-md-3">
                        {{ (form_row(form.travelAttributes[1])) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ 'label.director_user.native_full_name.block'|trans() }}</h3>
                        <h5>{{ 'label.director_user.native_full_name.help'|trans() }}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.nativeFirstName, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.nativeSurname, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.nativePatronymic, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <input type="submit" class="btn btn-primary" id="create-team" value="{{ 'label.actions.confirm'|trans() }}" />
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
