{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nativeteamname</th>
                <th>Englishteamname</th>
                <th>Membernumber</th>
                <th>Guo</th>
                <th>Guoadress</th>
                <th>Principalfullname</th>
                <th>Educationdepartment</th>
                <th>Educatuiondepartmentadress</th>
                <th>Headofedufullname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.nativeTeamName }}</td>
                <td>{{ team.englishTeamName }}</td>
                <td>{{ team.memberNumber }}</td>
                <td>{{ team.guo }}</td>
                <td>{{ team.guoAddress }}</td>
                <td>{{ team.principalFullName }}</td>
                <td>{{ team.educationDepartment }}</td>
                <td>{{ team.educationDepartmentAddress }}</td>
                <td>{{ team.headOfEduFullName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">Create a new team</a>
        </li>
    </ul>
{% endblock %}
