{% extends 'OmerTeamBundle:team:layout_registration.html.twig' %}

{% trans_default_domain 'OmerTeamBundle' %}

{% block registration %}
    {% form_theme form.members 'OmerTeamBundle::jquery.collection.html.twig' %}
    {% form_theme form.coaches 'OmerTeamBundle::jquery.collection.html.twig' %}
    {% form_theme form.otherPeople 'OmerTeamBundle::jquery.collection.html.twig' %}
    <div class="container team-registration wow fadeInDown" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, { 'action':path('team_new'), 'method':'POST'}, {'attr':{'class':'form-group'}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="registration-lead">{{ 'label.registration'|trans() }}</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <h3>{{ 'label.register.team_info'|trans() }}</h3>

                            {{ form_row(form.englishTeamName, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.memberNumber, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.school, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.country, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.district, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.city, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.address, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.problem, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.division, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.dateOfArrival, {'attr':{'class':'datepicker'}}) }}
                            {{ form_row(form.dateOfDeparture, {'attr':{'class':'datepicker'}}) }}
                            {{ form_row(form.concerns, {'attr':{'class':'form-control'}}) }}
                            {{ form_row(form.paymentCurrency, {'attr':{'class':'form-control'}}) }}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <h3>{{ 'Coach'|trans() }}</h3>
                            {{ (form_row(form.coaches)) }}
                        </div>
                        
                        <script type="text/javascript">
                            $('.collection_coaches').collection({
                                add: '<button type="button" class="btn btn-success">{{ 'label.actions.add' | trans() }}</button>',
                                remove: '<button type="button" class="btn btn-danger">{{ 'label.actions.delete' | trans() }}</button>',
                                allow_add: true,
                                allow_remove: true,
                                add_at_the_end: true,
                                allow_up: false,
                                allow_down: false,
                                max: 2
                            });
                        </script>

                    </div>

                    <div class="row">
                        <h3>{{ 'Team members'|trans() }}</h3>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            {{ (form_row(form.members)) }}
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('.collection_members').collection({
                            add: '<button type="button" class="btn btn-success">{{ 'label.actions.add' | trans() }}</button>',
                            remove: '<button type="button" class="btn btn-danger">{{ 'label.actions.delete' | trans() }}</button>',
                            allow_add: true,
                            allow_remove: true,
                            add_at_the_end: true,
                            allow_up: false,
                            allow_down: false,
                            max: 7
                        });
                    </script>

                    <div class="row">
                        <h3>{{ 'Other people'|trans() }}</h3>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            {{ (form_row(form.otherPeople)) }}
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('.collection_other').collection({
                            add: '<button type="button" class="btn btn-success">{{ 'label.actions.add' | trans() }}</button>',
                            remove: '<button type="button" class="btn btn-danger">{{ 'label.actions.delete' | trans() }}</button>',
                            allow_add: true,
                            allow_remove: true,
                            add_at_the_end: true,
                            allow_up: false,
                            allow_down: false,
                            max: 2
                        });
                    </script>

                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <input type="submit" class="btn btn-primary" id="create-team" value="{{ 'label.actions.create'|trans() }}" />
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

{% endblock %}

