{% extends 'base.html.twig' %}

{% block body %}

    {#{% trans_default_domain "OmerTeamBundle" %}#}

    {% form_theme form.members 'OmerTeamBundle::jquery.collection.html.twig' %}

    <h1>Team creation</h1>

    <h3>Team info</h3>
    {{ form_start(form, { 'action':path('team_new'), 'method':'POST'}) }}

    {{ form_row(form.nativeTeamName) }}
    {{ form_row(form.englishTeamName) }}
    {{ form_row(form.memberNumber) }}
    {{ form_row(form.guo) }}
    {{ form_row(form.guoAddress) }}
    {{ form_row(form.principalFullName) }}
    {{ form_row(form.educationDepartment) }}
    {{ form_row(form.educationDepartmentAddress) }}
    {{ form_row(form.headOfEduFullName) }}

    <h3>Coach</h3>

    {{ form_row(form.coach) }}

    <h3>Members</h3>

    {{ (form_row(form.members)) }}

    <script type="text/javascript">
        $('.collection').collection({
            add: '<a href="#">[ + ]</a>',
            remove: '<a href="#">[ - ]</a>',
            allow_add: true,
            allow_remove: true,
            add_at_the_end: true,
            allow_up: false,
            allow_down: false,
        });
    </script>

    <input type="submit" value="Create" />

    {{ form_end(form) }}
    
    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}

