{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% trans_default_domain 'SonataAdminBundle' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('bundles/omerteam/images/favicon/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/omerteam/images/favicon/apple-touch-icon-180x180.png') }}" />
    {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
        <link rel="stylesheet" href="{{ asset(stylesheet) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('bundles/omerteam/css/sonata_admin.css') }}">
{% endblock %}

{% block side_bar_after_nav_content %}
    <a href="/" rel="noreferrer">{{ 'label.side_bar_after_nav_content'|trans() }}</a>
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('homepage') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset('bundles/omerteam/images/logo.png') }}" alt="{{ 'title'|trans() }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ 'title'|trans() }}</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <form action="/logout" style="margin: 0px 15px;">
            <input class="btn btn-block btn-danger" style="margin-top: 11%; " type="submit" id="_submit" name="_submit"
                   value="{{ 'label.logout'|trans() }}"/>
        </form>
    </div>
{% endblock %}