{% trans_default_domain 'SonataAdminBundle' %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ asset('bundles/omerteam/images/logo.png') }}" alt="{{ 'title'|trans() }}">
                <label class="navbar-title">{{ 'title' | trans() }}</label>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {#<ul class="nav navbar-nav">#}
                {#<li><a href="#">Новости <span class="sr-only">(current)</span></a></li>#}
            {#</ul>#}
            <ul class="nav navbar-nav navbar-right">

                {#{% if ( _locale  == 'ru') %}#}
                    <li><a href="{{ path('omer_user_default_index', {'_locale': 'en'}) }}">{{ 'en' | trans() }}</a></li>
                {#{% else %}#}
                    {#<li><a href="{{ path('omer_user_default_index', {'_locale': 'ru'}) }}">{{ 'ru' | trans() }}</a></li>#}
                {#{% endif %}#}

                {% if (not is_granted('ROLE_ADMIN')) %}
                    <li><a href="#" onclick="loginClick()">{{ 'label.actions.login' | trans() }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'label.actions.logout' | trans() }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>
    function loginClick() {
        var form = $('.main-form form');
        if(form.length > 0)
            form.submit();
        else
            window.location.href = "/";
    }
</script>