{% extends '@OmerDefault/Default/index.html.twig' %}

{% block news %}
<section id="news">
    <div class="container">
        <div class="news-block">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ news.title }} |
                        <a href="{{ path('news_index') }}" style="display: inline-block"><h4>Back to list</h4></a>
                    </h3>
                    <p class="updated-at">Updated on: <i>{{ news.updatedAt | date}}</i></p>
                    <p class="updated-at"><i>{{ news.preview }}</i></p>
                    {% if url is not empty %}
                        <p><a href="{{ url }}" target="_blank">{{ news.fileName }}</a></p>
                    {% endif %}
                    <p>{{ news.content | raw }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
