{% trans_default_domain 'OmerTeamBundle' %}

<div class="main-form wow fadeInUp" data-wow-delay="0.5s">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h1 class="login-text">{{ 'label.form.title'|trans() }}</h1>

        <p class="login-text">{{ 'email.sorry_message'|trans({})|nl2br }}</p>

        {#<div class="form-group">#}
            {#<input type="text" class="form-control" name="_username"#}
                   {#placeholder="{{ 'label.form.login'|trans() }}" value="{{ last_username }}">#}
        {#</div>#}
        {#<div class="form-group">#}
            {#<input type="password" class="form-control" name="_password" required="required"#}
                   {#placeholder="{{ 'label.form.password'|trans() }}">#}
            {#<h5 class="pull-right forgot-password">#}
                {#<a class="" href="{{ path('fos_user_resetting_request') }}"#}
                   {#rel="nofollow">{{ 'label.form.forgot_password'|trans }}</a>#}
            {#</h5>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<input class="btn btn-success login-btn wow pulse" type="submit" id="_submit" name="_submit"#}
                   {#data-wow-delay="1.25s" value="{{ 'label.actions.login'|trans() }}">#}
        {#</div>#}

        <div class="form-group">
            <a href="{{ path('team_excel_form') }}">
                <input type="button" class="btn btn-primary register-team-btn wow pulse" data-wow-delay="1.5s" value="{{ 'label.excel'|trans() }}">
            </a>
        </div>


        <div class="form-group">
            <a href="{{ path('team_new') }}">
                <input type="button" class="btn btn-primary register-team-btn wow pulse" data-wow-delay="1.5s" value="{{ 'label.registration'|trans() }}">
            </a>
        </div>
    </form>
</div>


